<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GisTweet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>GisTweet</h1>
      <div class="row">
        <div class="col-md-6">

            <div id="map"></div>


        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <h3>Nueva Búsqueda</h3>
              {% from "_macro.html" import render_field %}
              <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ render_field(form.latitude, class='form-control',value='-12.045951958107082')  }}  <br>
                {{ render_field(form.longitude, class='form-control',value='-77.03057527542114')  }}  <br>
                {{ render_field(form.radio, class='form-control',value='1')  }}  <br>
                <button type="submit" class = "btn btn-primary">Buscar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <h2>Top palabras: </h2>
      </div>
      <div class="row">
        <ol type="1">
        {% for element in mostCommon %}
            <li>{{ element[0] }} <small>({{ element[1] }} coincidencias)</small></li>
        {% endfor %}
        </ol>
      </div>
      <div class="row">
        {% if rtv|length > 0 %}
          <h3>Se encontraron {{rtv|length}} resultados:</h3>
        {% endif %}
      </div>

      <div class="row">
        {% for element in rtv %}
          <div class="col-md-4">
            <strong>@{{ element[4] }}</strong><br>
            <small>{{ element[0] }} - {{ element[3] }} <a target="_blank" href="https://twitter.com/statuses/{{element[1]}}">Ver en Twitter</a></small>  <br>
            {{ element[2] }} <br><br>
          </div>
        {% endfor %}
      </div>
    </div>
    <script>
      function initMap() {
        var mapOptions = {
          zoom: 7,
          center:  new google.maps.LatLng(-12.045951958107082, -77.03057527542114),
          mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          map = new google.maps.Map(document.getElementById('map'),mapOptions);

          var fx = google.maps.InfoWindow.prototype.setPosition;

          google.maps.InfoWindow.prototype.setPosition = function () {

            if (this.logAsInternal) {
              google.maps.event.addListenerOnce(this, 'map_changed',function () {
                var map = this.getMap();
                if (map) {
                  google.maps.event.trigger(map, 'click', {latLng: this.getPosition()});
                }
              });
            }
            fx.apply(this, arguments);
          };
          google.maps.event.addListener(map,'click',function(e){
              var latlong = e.latLng.toString();
              var latlongarray = latlong.split(',');
              var latitude_value = latlongarray[0].replace('(','');
              var longitude_value = latlongarray[1].replace(')','').replace(' ','');
              $("#latitude").val(latitude_value);
              $("#longitude").val(longitude_value);
              // alert('clickeaste @'+latitude_value+'and'+longitude_value)
          })
      }
      google.maps.event.addDomListener(window, 'load', initMap);
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMWH6FXsHpv8INy_rwCvmUTX4cMU_HJhE&callback=initMap">
    </script>
  </body>
</html>
